{% import "bootstrap/wtf.html" as wtf %}
{% extends "home_layout.html"%}

{%- block styles %}
{{super()}}
{%- endblock styles %}

{% block add %}
<form action="{{ url_for('college.add_college') }}" method="get" class="add-form">
    <button type="submit" id="add-item" class="btn btn-primary">Add College</button>
</form>
{%- endblock add %}

{% block fields %}
<select type="submit" id="prog_fields" class="form-select">
  <option value="College Code">College Code</option>
  <option value="College Name">College Name</option>
</select>
{%- endblock fields %}

{%block content%}
<div class="card-body">
  <table class="table">
      <thead>
        <tr id="columns">
          <th scope="col">College Code</th>
          <th scope="col">College Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="details">
        {% for college in data %}
        <tr>
          <td>{{college[0]}}</td>
          <td>{{college[1]}}</td>
          <td>
            <div class="row" id="button-container">
              <div class="col" id="editBtn">
                <form action="{{ url_for('college.edit_college', college_code= college[0]) }}" method="get">
                  <button type="submit" class="btn btn-warning" id="editModal">Edit</button> 
                </form>
              </div>
              <div class="col">
                <form action="{{ url_for('college.delete_college', college_code= college[0]) }}" method="get">
                  <button class="delBtn btn btn-danger" data-id="{{college[0]}}">Delete</button> 
                </form>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  {%block scripts%}
  {{super()}}
  <script src="static/js/colleges/search.js"></script>
  <script src="static/js/colleges/delColgModal.js"></script>
  {%endblock scripts%}
{%endblock content%}
