{% import "bootstrap/wtf.html" as wtf %}
{% extends "home_layout.html"%}

{%- block styles %}
{{super()}}
{%- endblock styles %}

{% block navbar %}
<div class = "container-fluid">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          {% if title == "Students"%}
            <li class="nav-item active">
              <a class="nav-link active" href="#">Students</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link " href="#">Students</a>
            </li>
          {%endif%}
          {% if title == "Programs"%}
            <li class="nav-item active">
              <a class="nav-link active" href="#">Programs</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#">Programs</a>
            </li>
          {%endif%}
          {% if title == "Colleges"%}
            <li class="nav-item active">
              <a class="nav-link active" href="#" aria-disabled="true">Colleges</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#" aria-disabled="true">Colleges</a>
            </li>
          {%endif%}
          <li class="nav-item right" href="#"></li>
            <form action="{{ url_for('student.add_student') }}" method="get" class="add-form">
              <button type="submit" id="add-item" class="btn btn-primary">Add Student</button>
            </form>
          </li>
          <li class="nav-item right" href="#">
            <form class="d-flex flex-row mb-3 " role="search" method="get">
              <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id="studentSearch"/>
            </form>
          </li>
        </ul>
      </div>
    </div>
</div>
{%- endblock navbar %}

{%block content%}
<div class="card-body">
  <table class="table">
      <thead>
        <tr id="columns">
          <th scope="col">ID Number</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Program Code</th>
          <th scope="col">Year Level</th>
          <th scope="col">Gender</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="studDeats">
        {% for student in data %}
        <tr>
          <td>{{student[0]}}</td>
          <td>{{student[1]}}</td>
          <td>{{student[2]}}</td>
          <td>{{student[3]}}</td>
          <td>{{student[4]}}</td>
          <td>{{student[5]}}</td>
          <td>
            <div class="row" id="button-container">
              <div class="col" id="editBtn">
                <form action="{{ url_for('student.edit_student', student_id= student[0]) }}" method="get">
                  <button type="submit" class="btn btn-warning" id="editModal">Edit</button> 
                </form>
              </div>
              <div class="col">
                <form action="{{ url_for('student.delete_student', student_id= student[0]) }}" method="get">
                  <button class="delBtn btn btn-danger" data-id="{{student[0]}}">Delete</button> 
                </form>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  {%block scripts%}
  {{super()}}
  <script src="static/js/students/search.js"></script>
  <script src="static/js/students/delStudModal.js"></script>
  {%endblock scripts%}
{%endblock content%}
