{% import "bootstrap/wtf.html" as wtf %}
{% extends "home_layout.html"%}

{%block add%}
<form action="{{ url_for('student.add_student') }}" method="get" class="add-form">
  <button type="submit" id="add-item" class="btn btn-primary">Add Student</button>
</form>

{% endblock add %}

{%block search%}

<form class="d-flex flex-row mb-3 " role="search" method="get">
  <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id="studentSearch"/>
</form>

{%endblock search%}
{%block table%}
<table class="table">
    <thead>
      <tr id="columns">
        <th scope="col">ID Number</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Program Code</th>
        <th scope="col">Year Level</th>
        <th scope="col">Gender</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="studDeats">
      {% for student in data %}
      <tr>
        <td>{{student[0]}}</td>
        <td>{{student[1]}}</td>
        <td>{{student[2]}}</td>
        <td>{{student[3]}}</td>
        <td>{{student[4]}}</td>
        <td>{{student[5]}}</td>
        <td>
          <div class="row" id="button-container">
            <div class="col" id="edit-del">
              <form action="{{ url_for('student.edit_student') }}" method="get">
                <button type="submit" class="btn btn-warning" id="editModal">Edit</button> 
              </form>
            </div>
            <div class="col" id="edit-del">
              <form action="{{ url_for('student.edit_student', student_id=student[0]) }}" method="get">
                <button type="submit" class="btn btn-danger">Delete</button> 
              </form>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{%endblock table%}
