{% import "bootstrap/wtf.html" as wtf %}
{% extends "home_layout.html"%}

{%- block styles %}
{{super()}}
{%- endblock styles %}

{% block add %}
<form action="{{ url_for('program.add_program') }}" method="get" class="add-form">
    <button type="submit" id="add-item" class="btn btn-primary">Add Program</button>
</form>
{%- endblock add %}

{%block content%}
<div class="card-body">
  <table class="table">
      <thead>
        <tr id="columns">
          <th scope="col">Program Code</th>
          <th scope="col">Program Name</th>
          <th scope="col">College Code</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="details">
        {% for program in data %}
        <tr>
          <td>{{program[0]}}</td>
          <td>{{program[1]}}</td>
          <td>{{program[2]}}</td>
          <td>
            <div class="row" id="button-container">
              <div class="col" id="editBtn">
                
              </div>
              <div class="col">
                
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  {%block scripts%}
  {{super()}}
  <script src="static/js/search.js"></script>
  <script src="static/js/students/delStudModal.js"></script>
  {%endblock scripts%}
{%endblock content%}
